// Specific CSS for your home-page
.alert {
  display: none;
}
.notice {
  display: none;
}
.description-wrapper {
  margin: 40px;
}

.content h3 {
  color: #ff7425;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.cleaning-image-woman {
  float: right;
}
.col-xs-12 {
  margin-bottom: 18px;
}
