<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="vacuum">
    <div class="vacuum-image" style="background: linear-gradient(to bottom,rgba(20,20,20, 0.8),rgba(76,76,76,0.2) 30%), url(<%= image_path 'default_vird.jpg' %>) center / cover no-repeat;"></div>
    <div class="vacuum-content">
      <div class="vacuum-name">Eagle 2.0</div>
      <div class="vacuum-description">
        Lorem Ipsum this Vird is actually not that good, but you are paying for it anyway.
      </div>
      <div class="vacuum-booking">
        <%= link_to "View Details", "#", class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>


