<div class="map-wrapper">
  <div id="vacuums">
    <div>
      <div id="vacuums">
        <h2>Top Virds:</h2>
        <div class="row">


          <%= render @vacuums %>



        </div>
      </div>
    </div>

  </div>

  <div
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>


