<p id="notice"><%= notice %></p>

<div class="container">
  <div id="vacuums">
    <h2>Top Virds:</h2>
    <div class="row">


      <%= render @vacuums %>


      <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>

    </div>
  </div>
</div>

