<p id="notice"><%= notice %></p>

<div class="container">
  <div id="vacuums">
    <h2>Top Virds:</h2>
    <div class="row">
      <% @vacuums.each do |vacuum| %>
      <%= render @vacuums %>
      <% end %>
    </div>
  </div>
</div>

