<div class="main-gallery">
  <div class="gallery-cell">
    <div class="testimonial">
        <img class="testimonial-avatar" src="https://res.cloudinary.com/druzius/image/upload/v1542811914/woman.jpg">
      <q class="testimonial-quote">Whenever my cleaner is coming over for his weekly session, I make sure I booked a Vird for that day.</q>
      <span class="testimonial-author">Jenny Smith, Dolphin Trainer</span>
    </div>
  </div>
  <div class="gallery-cell">
     <div class="testimonial">
        <img class="testimonial-avatar" src="https://res.cloudinary.com/druzius/image/upload/v1542811914/hipster.jpg">
      <q class="testimonial-quote">I am too lazy to buy an actual vacuum cleaner, so when my appartement gets really dirty, I just turn on the app and get a Vird</q>
      <span class="testimonial-author">Buddy Jones, Freelance Web Developer</span>
    </div>
  </div>
  <div class="gallery-cell">
        <div class="testimonial">
        <img class="testimonial-avatar" src="https://res.cloudinary.com/druzius/image/upload/v1542811914/grandmother.jpg">
      <q class="testimonial-quote">After I rented the Annihilator once, I am asking my grand children to make a mess when they come visit, so I can rent it again!</q>
      <span class="testimonial-author">Sara Waltz, Grandmother of 8</span>
    </div>
  </div>
</div>
