.vacuum-img {
  width: 100%;
}

.vacuum-details {
  display: flex;
  margin-left: 20px;
  font-size: 25px;
  flex-direction: column;
}


.button-container{
  position: right;
}

.model {
  text-align: center;
}
.price {
  text-align: center;
}
.email {
  text-align: center;
}
.address {
  text-align: center;
}
