<div>

<%= render 'shared/banner' %>

</div>

<div class="description-wrapper">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-lg-6">
        <div class="content">
          <h2> Description Grid </h2>
          <h3>Are you ready for the truth?</h3>
          <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>
        </div>
      </div>

      <div class="col-xs-12 col-lg-6">
        <div class="cleaning-image"> <img src="https://res.cloudinary.com/druzius/image/upload/v1542806550/woman_cleaning.png" alt="Woman cleaning" height="300" width="350"></div>
      </div>

      <div class="col-xs-12 col-lg-6">
        <div class="cleaning-image"> <img src="https://res.cloudinary.com/druzius/image/upload/v1542806550/man_cleaning.png" alt="Man cleaning" height="300" width="300"></div>
      </div>

      <div class="col-xs-12 col-lg-6">
        <div class="content">
          <h2> Description Grid </h2>
          <h3>Are you ready for the truth?</h3>
          <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>
        </div>
      </div>

    </div>
  </div>
</div>





