#vacuums {
  margin: 16px 0;
}

.vacuum {
  margin: 5px;
  height: 350px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 1px 7px rgba(0,0,0,.05);
  font-size: 16px;

}

.vacuum-image {
  height: 70%;
  border-radius: 4px 4px 0 0;
  background-image: cover;
}

.vacuum-content {
  padding: 10px;
  height: 30%;
  display: flex;
  flex-direction: column;
 }

.vacuum-name {
  font-weight: bold;
}

.vacuum-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

}

.vacuum-price {
  font-weight: lighter;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.vacuum-booking {
  flex-grow: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}
.available {
  color: green;

}

.unavailable {
  color: red;

}

.centered-button {
  margin: 0 auto;
}
