.container-virds {
  height: calc(100vh - 70px);
  padding: 20px 0;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 20px;
}

.list-card {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list-image {
    width: 250px;
    height: 200px;
}

.list-model {
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

.list-price {
  text-align: center;
}



