// body{
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
//   background: rgb(76, 76, 76);
// }
.order-conf {
  position: relative;
  top: 30px;
}

.order-info {

  width: 400px;
  padding: 20px;
  color: #FFFFFF;
  margin-top: 25px;
  margin: 1em auto;
  overflow: hidden;
  background: rgb(76, 76, 76);
  box-shadow: 0 0 5px 0px rgb(47, 47, 47),
              0 0 5px 0px rgba(107, 104, 104, 0);

}

.order-info .title {
  text-align: center;
  margin-top: 40px;
}

.order-info h3 {
  margin: 10px;
}

.order-info img {width: 100%;}

.order-info .title-card {
  font-size: 25px;
  font-weight: 100;
  margin: 10px 0 0 0;
  font-family: 'Raleway', sans-serif;
}

.order-info .rate .fa{color: gold; letter-spacing:1px; font-size:18px;}

.order-info .rate p{
  color: #fff;
  font-weight: 100;
  font-size: 17px;
  display: inline;
}

.order-info span {
  width: 100%;
  color: #FFFFFF;
  display: inline-block;
}
.order-info .map{ margin: 1px 0 -15px 0; }
.order-info .phone{ margin: -5px 0 10px 0; }


.order-info span p{
  color: #FFFFFF;
  margin-left: 10px;
  }

.order-info span p, i{
  font-size:16px;
  font-weight: 100;
  display: inline-block;
}

// .booking-show-button {
//   width: 100%;
//   color: #fff;
//   padding:17px;
//   border: none;
//   outline: none;
//   cursor: pointer;
//   font-size: 20px;
//   transition: all 0.3s linear;
//   text-transform: uppercase;
//   font-family: 'Open Sans', sans-serif;
//   background: linear-gradient(to left, rgb(11, 191, 160), rgb(108, 196, 115));

//   opacity: 1;
// }

button:hover{
  background: linear-gradient(to right, rgb(11, 191, 160), rgb(108, 196, 115));
  opacity: 0.9;
}


.order-content p {
  color: #D8DBE2;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.3px;
  font-family: 'Open Sans', sans-serif;
}
